<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">
  <input type="hidden" name="user_id" id="user_id" value="<%=session["user_id"]%>">
  
  <p>
    <label class="form-label" for="title_input">Title</label>
    <input type="text" name="title" id="title_input" class="form-control">
  </p>

  <p>
    <label class="form-label" for="description_input">Description</label>
    <input type="text" name="description" id="description_input" class="form-control">
  </p>

  <p>
    <label class="form-label" for="occurred_on_input">Occurred On</label>
    <input type="date" name="occurred_on" id="occurred_on_input" class="form-control">
  </p>

  <div class="mb-3">
    <label for="uploaded_image_input" class="form-label">Upload Image</label>
    <input type="file" name="uploaded_image" id="uploaded_image_input" class= "form-control">
  </div>


  <button class="btn btn-success">Save</button>
</form>