
<h1>Places</h1>

<h5>
  <% for place in @places %>
  <div class= "mb-3">
    <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </div>
  <% end %>
</h5>

<p>
  <a class="btn btn-primary" href="/places/new">New place</a>
</p>